#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_164 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Contrast_rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_up {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_165 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_down_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_166 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Contrast_rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_up_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_167 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_down_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_168 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Contrast_rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_up_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rich_text_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rich_text_166 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_down_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Contrast_rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_up_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_down_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Contrast_rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_up_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_174 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_down_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_175 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Contrast_rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_up_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_176 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_128 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_down_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_186 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Contrast_rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_up_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_187 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_down_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_188 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Contrast_rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_up_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_189 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_down_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_190 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Contrast_rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_up_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_191 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_down_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_192 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Contrast_rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Arrow_up_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Toolset_name_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 #s-Image_193 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8319b0d-dc4e-42a2-99bb-64aa3e7ec141 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}