#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Main_background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_182 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_217 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_160 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rich_text_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rich_text_220 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rich_text_233 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rich_text_158 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rich_text_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rich_text_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Image_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4fefdcb0-9f17-49ca-9e90-138b3d98939c #m-4fefdcb0-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Line_1 {
  rotation: 90.0;
  margin-left: 228px;
  margin-top: -229px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Line_2 {
  rotation: 90.0;
  margin-left: 125px;
  margin-top: -126px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Label_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Line_3 {
  rotation: 55.0;
  margin-left: 7px;
  margin-top: -16px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Line_4 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -17px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Line_5 {
  rotation: 124.0;
  margin-left: 3px;
  margin-top: -10px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Label_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rich_text_206 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rich_text_207 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rich_text_208 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Rich_text_209 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a0618400-2069-4c6b-b141-8d53a689d39e #m-a0618400-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Triangle_3 {
  rotation: 90.0;
  margin-left: 9px;
  margin-top: -9px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Triangle_4 {
  rotation: 270.0;
  margin-left: 9px;
  margin-top: -9px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Line_2 {
  rotation: 90.0;
  margin-left: 14px;
  margin-top: -15px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e28f6256-18c0-472a-a86d-2258cb558b7e #m-e28f6256-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2556543e-5d07-4778-ab9c-24282c35ccf5 #m-2556543e-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2556543e-5d07-4778-ab9c-24282c35ccf5 #m-2556543e-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2556543e-5d07-4778-ab9c-24282c35ccf5 #m-2556543e-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2556543e-5d07-4778-ab9c-24282c35ccf5 #m-2556543e-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2556543e-5d07-4778-ab9c-24282c35ccf5 #m-2556543e-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_176 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_208 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_178 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_179 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_209 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_210 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_180 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_181 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_184 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_185 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_198 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_186 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_187 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_223 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_188 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_189 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_218 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_190 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_191 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_219 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_192 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_193 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_220 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_194 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_221 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_196 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_197 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_222 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_199 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_200 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_224 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_201 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_202 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_203 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_204 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Rich_text_228 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_205 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_206 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_164 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_165 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_134 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_182 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_166 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_167 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_183 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_168 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_down_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_174 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Contrast_rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Arrow_up_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Toolset_name_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2140e15f-d921-49ce-b858-cb2140356d6c #m-2140e15f-Image_175 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}