#s-f44141b1-2a92-4b16-9d69-63d0a4e014df #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f44141b1-2a92-4b16-9d69-63d0a4e014df #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f44141b1-2a92-4b16-9d69-63d0a4e014df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}